.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
}

.sidebar__wrapper {
    padding: 20px;
    color: #555555;
}

.sidebar__menu {
    margin-bottom: 40px;
}

.sidebar__title {
    font-size: 18px;
    color: #bbbaba;
    text-transform: uppercase;
    letter-spacing: -0.04em;
}

.sidebar__list {
    list-style: none;
    padding: 5px;
}

.sidebar__listItem {
    padding: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #3f3f3f;
    border-radius: 4px;
}

.sidebar__listItem.active, .sidebar__listItem.hover {
    background-color: #FF8C00;
}

.sidebar__icon {
    margin-right: 10px;
    font-size: 20px !important;
}

.sidebar__btn {
    margin-top: 50px;
    margin-bottom: 20px;
}