* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, 'Times New Roman', serif;
}

a {
  color: unset;
  text-decoration: none;
}

.container {
  display: flex;
}

.main__content {
  flex: 4;
  background-color: #ececec;
  padding: 15px;
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
}
